<div class="cart-container">
    <h2>Your Cart</h2>
    <div *ngIf="cartItems.length === 0" class="empty-cart">
      Your cart is empty.
    </div>
    <div *ngFor="let item of cartItems" class="cart-item">
      <div class="cart-item-image">
        <img [src]="item.product.image" [alt]="item.product.title" />
      </div>
      <div class="cart-item-details">
        <h4 class="cart-item-name">{{ item.product.title}}</h4>
        <p class="cart-item-price">Price: {{ item.product.price }}</p>
        <p class="cart-item-quantity">Quantity: {{ item.quantity }}</p>
        <button class="remove-button" (click)="removeFromCart(item)">Remove</button>
      </div>
    </div>
    <p *ngIf="cartItems.length > 0" class="cart-total">Total: {{ cartTotal }}</p>
    <button *ngIf="cartItems.length > 0" class="buy-all-button" [routerLink]="['/order']">Buy All</button>
  </div>
  