<app-nav-bar></app-nav-bar>

<head>
  <style>
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
    }

    .button:hover {
      background-color: #45a049;
    }
  </style>
</head>

  <div>
    <a href="auth/register" class="button">Register</a>
    <a href="auth/login" class="button">Login</a>
  </div>



<div class="container">
  <h3>Hello! Here you can view your orders and edit details of your order sfdggds or cancel it!</h3>

</div><br>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="container-fluid text-center">
  <p>Copyright &copy; ChaiRest 2023</p>
</footer>
