<app-nav-bar></app-nav-bar>


<div class="container">

  <h2 class="text-center">Category: {{ category.title }}</h2>

</div>


<div class="row">
  <div class="col-sm-4" *ngIf="category">
    <div class="panel panel-primary">
      <div  class="panel-heading">{{ category.title }}</div>
      <div class="panel-body">
        <img src="{{category.image}}" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="panel-footer">{{ category.description }}<br><a [routerLink]="['/category', category.id, 'furniture']">View furniture</a></div>

    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">BLACK FRIDAY DEAL</div>
      <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
      <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
    </div>
  </div> -->
<!--
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br><br> -->


<p></p>
<p></p>
<p></p>
<p></p>

<footer class="container-fluid text-center">
  <p>Copyright &copy; ChaiRest 2023</p>
</footer>
